@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  
}

::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome */
  }

.loader {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #131313; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  /* .nav-container {
    position: relative;
  } */
  
  .nav-container::before,
  .nav-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 160px;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }
  
  .nav-container::before {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }
  
  .nav-container::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }
  